@font-face {
  font-family: "Magra";
  src: url("assets/fonts/Magra-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("assets/fonts/RedHatText-VariableFont_wght.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("assets/fonts/RedHatText-Italic-VariableFont_wght.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Aleo";
  src: url("assets/fonts/Aleo-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Aleo";
  src: url("assets/fonts/Aleo-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Aleo";
  src: url("assets/fonts/Aleo-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Aleo";
  src: url("assets/fonts/Aleo-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  
}
button {
  appearance: none;
  background: #0d606f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 10px;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
h2,
h3,
p,
figure,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
a {
  text-decoration: none;
}
section {
  box-sizing: content-box;
  width: 100%;
}
header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  z-index: 1;
}
.container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0 15px;
}

.header-container {
  margin: 25px auto;
  height: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.logo {
  font-family: "Magra";
  font-weight: 600;
  font-size: 32px;
  white-space: nowrap;
}
.logo-text {
  display: inline;
}
nav{
  flex-basis: 43%;
  margin-left: 10px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 6%;
  flex-wrap: wrap;
}
.nav-item {
  position: relative;
  height: 21px;
  white-space: nowrap;
}
.nav-link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 1.5px;
  background-color: #ffffff;
}
.nav-link:hover:before {
  width: 100%;
}
.nav-link:before {
  transition: width 0.35s ease;
}

.login-button {
  width: 103px;
  height: 41px;
  flex: 0 0 8%;
}
.menu_icon {
  display: none;
  width: 35px;
  height: 32px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.menu_icon span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: calc(50% - 1px);
  background: #FFFFFF;
}
.menu_icon span:first-child{
  top: 8px;
}
.menu_icon span:last-child{
  top: auto;
  bottom: 8px;
}
.mobile-nav {
  display: none;
}
.preview {
  font-family: "Aleo";
  font-weight: 700;
  margin-top: -91px;
  height: min(765px, 100vh);
  color: #ffffff;
  background-image: url("assets/img/garrett-parker-DlkF4-dbCOU-unsplash 1.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
.preview-container {
  padding-top: 122px;
  max-width: 892px;
  margin-left: 0;
}
.preview-title {
  display: inline;
  font-size: 80px;
}
.preview-text {
  margin: 32px 0 46px;
  font-style: italic;
  font-size: 20px;
}
.search {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.search-input {
  margin-left: 41px;
  border: none;
  outline: none;
  width: 68%;
  height: 95px;
  background: none;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #f2785c;
  white-space: wrap;
}
.search-button {
  margin-right: 18px;
  border: none;
  outline: none;
  min-width: 19%;
  height: 59px;
  padding: 10px 32px;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: inherit;
  cursor: pointer;
}
.search-input::-moz-placeholder {
  color: #f2785c;
}
.search-input::-webkit-input-placeholder {
  color: #f2785c;
}

.steps,
.destinations,
.stories {
  margin-top: 80px;
}
.steps {
  margin-bottom: 17px;
  text-align: center;
}
.section-title {
  font-family: "Red Hat Text";
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #f2785c;
}
.steps-list {
  display: flex;
  justify-content: space-between;
  margin: 40px 11px 97px;
}
.steps-text {
  margin-top: 26px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 20px;
  color: #0d606f;
}

.slider {
  margin: 46px auto 0;
}
.slider-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 60px;
  margin: 0 auto;
}
.slider-wrapper-mobile {
  display: none;
}
.slider-item {
  position: relative;
}
.slider-item img {
  width: min(800px, 100vw - 55px);
  border-radius: 16px;
}
.slider-text {
  position: absolute;
  bottom: 40px;
  left: 15px;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
}
.control-buttons {
  margin: 24px auto 40px;
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 20px;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
}
.circle-selected {
  background: #f2785c;
}
.more-button {
  min-width: 228px;
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
  margin: 0 auto;
  padding-left: 31px;
  padding-right: 39px;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  background: #0d606f;
  color: #ffffff;
}
.more-button svg{
  width: 40px;
  height: 40px;
}

.stories {
  padding-bottom: 41px;
  background-size: cover;
  font-family: "Aleo";
  font-weight: 400;
  color: #0d606f;
  background: rgba(255, 255, 255, 0.7);
}
.stories-background {
  background-image: url("assets/img/lake.jpg");
  background-repeat: no-repeat;
  background-position: 0 172px;
  background-size: cover;
}
.stories-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 40px;
  padding: 40px 0;
}
.stories-image {
  filter: drop-shadow(0px 4px 4px #0d606f);
}
.stories-image img {
  width: 100%;
  border-radius: 16px;
}
.stories-title {
  font-weight: 700;
  font-size: 35px;
}
.stories-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3%;
}
.stories-text {
  flex: 1 1 67%;
  font-size: 20px;
}
.story {
  margin-top: 24px;
  font-family: "Aleo";
  font-weight: 400;
}
.read-full-stories {
  text-decoration: underline;
  font: inherit;
  font-weight: 700;
  color: inherit;
}
.footer {
  padding: 15px 0px 13px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  font-family: "Red Hat Text";
  color: #ffffff;
}
.social-media {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-element {
  list-style: none;
}
.footer-icons {
  height: 33.65px;
}
@media (max-width: 1200px) {
  .stories-text {
    font-size: 19px;
  }
}
@media (max-width: 1000px) {
  .preview-title{
    font-size: 70px;
    
  }
}
@media (max-width: 985px) {
  .search-button {
    font-size: 23px;
  }
  .stories-title {
    font-size: 30px;
  }
  .stories-text {
    margin-top: 0;
  }
}
@media (max-width: 896px) {
  .stories-text{
    font-size: 17px;;
  }
  .search-button {
    font-size: 20px;
    padding: 9px 20px;
  }
  .steps-text {
    font-size: 18px;
  }
  .search-input {
    font-size: 20px;
  }
}
@media (max-width: 410px) {
  .steps-text {
    font-size: 17px;
  }
  .nav-link {
    font-size: 15px;
  }
}
@media (max-width: 390px) {
  .menu_icon {
    display: block;
  }
  .header{
    background: none;
    box-shadow: none;
  }
  .header-container {
    padding-top: 20px;
  }
  .nav-list, .login-button, .logo-text, .preview-title, .preview-text {
    display: none;
  }
  .preview {
    width: 100vw;
    height: 100%;
    background-size: cover;
  }
  .preview-container {
    padding-top: 142px;
    padding-bottom: 62px;
  }
  .search-input {
    margin-left: 15px;
    height: 48px;
    font-size: 14px;
  }
  .search-button {
    min-width: 25.5%;
    height: 30px;
    padding: 7.5px 8px;
    margin-right: 8px;
    font-size: 11px;
  }
  .steps,
  .destinations,
  .stories {
    margin-top: 20px;
  }
  .section-title {
    font-size: 14px;
  }
  .steps-list {
    margin: 20px 0 0;
  }
  .steps-list .steps-item:first-child, .steps-item:last-child {
    max-width: 98px;
  }
  .steps-list .steps-item:first-child {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .steps-list .steps-item:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .steps img {
    width: 70px;
  }
  .steps-text {
    font-size: 10px;
    margin-top: 20px;
  }
  .slider {
    margin: 20px auto 0;
  }
  .slider-wrapper {
    display: none;
    margin-bottom: 10px;
  }
  .slider-wrapper-mobile {
    display: block;
    position: relative;
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .slider-item-mobile {
    position: relative;
    margin: 0 auto;
  }
  .slider-item-mobile img{
    border-radius: 16px;
    width: calc(100vw - 30px);
  }
  .arrow-back, .arrow-next {
    position: absolute;
    top: 90px;
    z-index: 5;
  }
  .arrow-back {
    left: 26px;
    opacity: 0.5;
  }
  .arrow-next {
    transform: scale(-1, 1);
    right: 26px;
  }
  .arrow-next svg{
    fill-opacity: 1;
  }
  .slider-text-mobile {
    position: absolute;
    top: 8px;
    left: 15px;
    font-family: "Red Hat Text";
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }
  .control-buttons {
    position: absolute;
    bottom: 12px;
    left: calc(50% - 18px);
    width: 36px;
    height: 8px;
    margin: 0 auto 0;
  }
  .control-buttons .circle:first-child {
    background: #F2785C;
  }
  .circle {
    width: 8px;
    height: 8px;
  }
  .more-button {
    padding: 7.5px 12px;
    gap: 6px;
    min-width: 92px;
    height: 30px;
    font-size: 11px;
  }
  .more-button svg {
    width: 10px;
    height: 10px;
  }
  .stories-title {
    font-size: 11px;
  }
  .stories-image {
    width: 39.75vw;
    height: 33.4vw;
  }
  .stories-list {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 0;
    row-gap: 15px;
  }
  .stories-text {
    flex: 1 1 50%;
    font-size: 9px;
    padding-top: 5px;
  }
  .story {
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    line-height: 11px;
  }

}